.tableView{
    -fx-border-color: #FCB56E;
}

.tableView .scroll-bar{
    -fx-background-color: #F8D2AC;
}

.tableView .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #D0A1A1, #C05C5C);
}
.tableView .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #D0A1A1, #C05C5C);
}

/*.column {
    -fx-background-color: #F8D2AC;
    -fx-font-weight: bold;
    -fx-text-fill: #BF3A3A;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
}*/

.buttonUserPage{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-padding: 10 20 10 20;
    -fx-text-alignment: center;
}

.buttonUserPage:hover{
    -fx-background-color: #FFF8BD;
}

.tab-pane{
    -fx-background-color: #F8D2AC;
}

.tab-pane>*.tab-header-area>*.tab-header-background{
    -fx-background-color: null;
    -fx-border-color: purple;
}

.tab-label{
    -fx-text-fill: #BF3A3A;
}
.tab{
    -fx-background-color: #FBDEB1;
    -fx-font-weight: bold;
}